<div msd-wheel="GalleryCtrl.wheel($event)" class="gallery">
    <div class="row">

        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"
             ng-click="GalleryCtrl.left()">
            <i class="fa fa-arrow-left icon" aria-hidden="true"></i>
        </div>

        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
            <ul class="blocks" ng-transclude>

            </ul>
        </div>
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"
             ng-click="GalleryCtrl.right()">
            <i class="fa fa-arrow-right icon" aria-hidden="true"></i>
        </div>
    </div>

</div>

