<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Security-Policy"/>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

</head>
<body ng-app="TestJob" ng-controller="MainCtrl as Main">

<div class="content">
    <div class="head">
        <span>Количество элементов в галерее: </span>
        <input type="number" ng-model="Main.blockCounts">
        <span><button ng-click="Main.draw()"> Перерисовать</button></span>
    </div>

    <gallery>
        <g-img ng-repeat="block in Main.blocks">
            <img height="{{block.height}}px"
                 width="{{block.width}}px"
                 ng-src="{{block.url}}">
        </g-img>
    </gallery>
</div>

</body>
</html>
